In [1]:
from src.hook.countries_hook import CountriesHook
file_format = 'csv'
hook = (CountriesHook()
            .parse_countries()
            .parse_tables()
            # .save_tables(file_format, destination='C:\Git\countries_dw\src\dbt\seeds', index=False)
        )
hook

Countries hook: tables parsed (yes)

In [3]:
# hook.continents.continents.str.len().max()
import numpy as np
import pandas as pd
def max_len_of_columns(df):
    measurer = np.vectorize(len)
    _dict = dict(zip(df.columns, measurer(df.values.astype(str)).max(axis=0)))
    return pd.DataFrame([_dict])
    # return _dict


# df

postal_codes

   common_name  format  regex
0           44      55    155

In [ ]:
def assemble_yml_for_each_table(obj:object, tables:list) -> str:
    '''Prints a yml file to declare sources at a schema.yml file fo a model
    adds name and descriptions for each table and respective columns

    tables must be a pd.DataFrame
    
    '''
    tab = '  '
    yml = f'''
version: 2
sources:
    - name: source
    description: description
    database: database
    +schema: schema
    tables: 
'''
    _name = '- name: '
    tables.sort()
    for table in tables:
        df = getattr(obj, table)
        level = 3
        yml += tab*level + _name + table + '\n'
        level += 1 
        yml += tab*level + 'description: description' + '\n'
        yml += tab*level + 'columns:' + '\n'
        level += 1 
        for column in df.columns:
            yml += tab*level + _name + column +'\n'
            level += 1 
            yml += tab*level + 'description: description' + '\n\n'
            level -= 1 



    return yml
print(assemble_yml_for_each_table(hook, hook.tables))

In [16]:
hook.general_information

,common_name,landlocked,area,flag,population,startOfWeek
0,South Africa,False,1221037.0,ðŸ‡¿ðŸ‡¦,59308690,monday
1,Svalbard and Jan Mayen,False,-1.0,ðŸ‡¸ðŸ‡¯,2562,monday
2,Samoa,False,2842.0,ðŸ‡¼ðŸ‡¸,198410,monday
3,Gambia,False,10689.0,ðŸ‡¬ðŸ‡²,2416664,monday
4,Saint Kitts and Nevis,False,261.0,ðŸ‡°ðŸ‡³,53192,monday
...,...,...,...,...,...,...
245,Hong Kong,False,1104.0,ðŸ‡­ðŸ‡°,7500700,monday
246,North Macedonia,True,25713.0,ðŸ‡²ðŸ‡°,2077132,monday
247,Burkina Faso,True,272967.0,ðŸ‡§ðŸ‡«,20903278,monday
248,Puerto Rico,False,8870.0,ðŸ‡µðŸ‡·,3194034,monday
249,Ethiopia,True,1104300.0,ðŸ‡ªðŸ‡¹,114963583,monday