In [2]:
from src.hook.countries_hook import CountriesHook
file_format = 'csv'
hook = (CountriesHook()
            .parse_countries()
            .parse_tables()
            .save_tables(file_format, destination='C:\Git\countries_dw\src\dbt\seeds', index=False)
        )
hook

Countries hook: tables parsed (yes)

In [4]:
hook.names.head(5)

      common_name          official_name
0  American Samoa         American Samoa
1            Peru       Republic of Peru
2           Tonga       Kingdom of Tonga
3         Mayotte  Department of Mayotte
4          Panama     Republic of Panama