In [1]:
from src.hook.countries_hook import CountriesHook
file_format = 'csv'
hook = (CountriesHook()
            .parse_countries()
            .parse_tables()
            .save_tables(file_format, destination='C:\Git\countries_dw\src\dbt\seeds', index=False)
        )
hook

Countries hook: tables parsed (yes)

In [2]:
# hook.continents.continents.str.len().max()
import numpy as np
import pandas as pd
def max_len_of_columns(df):
    measurer = np.vectorize(len)
    _dict = dict(zip(df.columns, measurer(df.values.astype(str)).max(axis=0)))
    return pd.DataFrame([_dict])
    # return _dict
index = 24
print(hook.tables[index])
df = getattr(hook, hook.tables[index])
max_len_of_columns(df)

postal_codes

         common_name         format                regex
0       South Africa           ####            ^(\d{4})$
1             Monaco          #####            ^(\d{5})$
2      Guinea-Bissau           ####            ^(\d{4})$
3        North Korea        ###-###            ^(\d{6})$
4           Paraguay           ####            ^(\d{4})$
..               ...            ...                  ...
144             Iraq          #####            ^(\d{5})$
145      South Korea  SEOUL ###-###  ^(?:SEOUL)*(\d{6})$
146  North Macedonia           ####            ^(\d{4})$
147      Puerto Rico     #####-####            ^(\d{9})$
148         Ethiopia           ####            ^(\d{4})$

[149 rows x 3 columns]